<div>
  <table>
        <tr>
          <td>Name:</td>
          <td>
            <input [(ngModel)]="product.name" type="text"/>
          </td>
        </tr>
        <tr>
          <td>Description:</td>
          <td>
            <input [(ngModel)]="product.description" type="text"/>
          </td>
        </tr>
        <tr>
          <td>Price:</td>
          <td>
            <input [(ngModel)]="product.price" type="number"/>
          </td>
        </tr>
        <tr>
          <td>Is Available:</td>
          <td>
            <input type="checkbox" [checked]="product.isAvailable" (change)="product.isAvailable = !product.isAvailable"/>
          </td>
        </tr>
        <tr>
            <td>Producer:</td>
            <select [value]="product.producer">
                <option value="1">USA</option>
                <option value="2">UK</option>
                <option value="3">Ukraine</option>
            </select>
        </tr>
        <tr>
            <td>Ingredient:</td>
            <td>
                <input [(ngModel)]="newIngredient" type="text"/>
            </td>
            <td>
                <button (click)="onAddIngredient();">Add Ingredient</button>
            </td>
          </tr>
      </table>
  <p>Ingredients:</p>
  <ul>
    <li *ngFor='let ingredient of product.ingredients'>
      {{ingredient}}
    </li>
  </ul>
  <button (click)="onBuy()">Buy</button>
  <h4>Products in basket:</h4>
  <table>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Is Available</th>
    <th>Producer</th>
    <th>Ingredients</th>

    <tr *ngFor='let product of basket'>
      <td>{{product.name}}</td>
      <td>{{product.description}}</td>
      <td>{{product.price}}</td>
      <td>{{product.isAvailable}}</td>
      <td ngSwitch="product.producer">          
              <span *ngSwitchCase ="1">USA</span>
              <span *ngSwitchCase="2">UK</span>
              <span *ngSwitchCase="3">Ukraine</span>
      </td>
      <td>
        <ul>
          <li *ngFor='let ingredient of product.ingredients'>
            {{ingredient}}
          </li>
        </ul>
      </td>
    <tr>     
  </table>

</div>
